h5{
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
}
#catergorysection{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  text-align: left;
  border-radius: 5px;

  ol{
    list-style: none;
    li{
      ul{
        list-style: circle;
      }
    }
  }
}

#tags{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  text-align: left;
  border-radius: 5px;
  .tags{
    ul{
      list-style: none;
      display: inline-block;
      li{
        line-height: 15px;
      }
    }
  }
}