.container{
  .row{
    .left{
      text-align: center;
      height: 500px;
    }
    .center{
      padding: 10px 0 0 10px;
    }
    .right{
      text-align: center;
      height: 500px;
    }
  }
}

// @media screen and (max-width: 850px){
//   .right{
//     display: none;
//   }

// }