@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Ubuntu:wght@300&display=swap');


$black: black;
$color: black;
$font1: 'Ubuntu', sans-serif;
$font2: 'Roboto Mono', monospace;;
$fontsize: 19px;

*, html, body{
  transition: 300ms !important;
  margin: 0;
  padding: 0;
}
a{
  color: black !important;
}